@font-face {
  font-family: 'TTLaundryGothicB';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-family: 'TTLaundryGothicB';
}
html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
.container {
  height: 100%;
  background-color: rgb(209, 207, 255);
  border: 1px solid rgb(161, 161, 161);
}
.chat-screen {
  height: calc(100% - 120px);
  overflow-y: scroll;
}
.user {
  background-color: white;
  padding: 16px;
  height: 80px;
}
.user_column {
  float: left;
}
.user_pic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-image: url(images/이름좀.png);
  background-size: 50px 50px;
}
.user_pic2 {
  float: right;
  width: 30px;
  height: 50px;
  margin-right: 10px;
  border-radius: 10px;
  background-image: url(images/free-icon-menu-1828859.png);
  background-size: 50px 50px;
}
.user_nick,
.user_count {
  margin: 5px;
}
.user_count {
  font-size: 12px;
  color: gray;
}
.chat-form {
  height: 120px;
  background-color: white;
}
.chat-form_field {
  height: 120px;
}
.chat-form_msg {
  width: calc(100% - 120px);
  height: 120px;
  border: none;
  font-size: 24px;
  padding: 10px;
  float: left;
  resize: none;
}
.chat-form_msg:focus {
  outline: none;
}
.chat-form_btn {
  float: right;
  width: 120px;
  height: 120px;
  border: none;
  background-color: rgb(147, 147, 251);
  color: white;
  font-size: 25px;
}
.chat-form_btn:active {
  background-color: rgb(99, 99, 200);
}
/* 과제 : 자기만의 채팅방 만들어진 상태에서 말풍선까지 추가했으니까
문제해결을 유도. 말풍선이 10개가 넘엇을때 어케할고임 오버플로우해결 */
