.footer {
  width: 100%;
  border-top: 1px solid #c3c4c7;
}
.footer_container {
  width: 100%;
  max-width: 1024px;
  margin: auto;
}

.footer_info {
  padding: 1.5rem 0 6.25rem;
  color: #868b84;
  line-height: 1.5;
  font-size: 0.813rem;
}
/* 클론코딩은 꼭 천천히 복기해보라
과제는 클론코딩완료~!@ */
